body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    padding: 2rem;
    background-color: #4caf50;
    color: white;
}

section {
    margin: 3rem auto;
    width: 80%;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.progress-bar-container {
    width: 100%;
    height: 30px;
    background-color: #e0e0e0;
    border-radius: 15px;
    overflow: hidden;
}

.progress-bar {
    width: 0;
    height: 100%;
    background-color: #4caf50;
    border-radius: 15px;
}

.meal-input {
    margin-top: 1rem;
}

#meal-list {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

#meal-list li {
    background-color: #f4f4f4;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remove-meal-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

#randomTipBtn {
    padding: 0.5rem 1rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
